/*
* 基本布局样式
 */
.empty-top{
  margin-top: 76px;
  padding-top: 20px;
}

.top-back {
  position: fixed !important;
  width: calc(~'100vw - 0.537rem');
  top: 0;
  left: 0;
  right: 0;
  padding: 0.2667rem;
  line-height: 0.7rem;
  text-align: center;
  font-size: 36px;
  color: #444;
  background-color: #fff !important;
  z-index: 1000;
}

.text-ellipsis {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}

// 临时处理
.stuInfo>ul{
  min-height: 10rem;
}
