// 引用图片缩略图样式
.cite-img-content{
  display: flex;
  flex-wrap: wrap;
  .img-thumb-item{
    width: 29%;
    height: 2rem;
    padding: 2%;
    overflow: hidden;
    >img{
      width: 100%;
    }
  }
}

// 引用音频
.cite-audio-content{
  .aplayer{
    width: 100%;
  }
}
.form-wrap .form-wrap{
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

// 引用自己多行
.cite-self-multi{

}


// 列排
.form-wrap-column{
  padding-bottom: 0.3rem;
}

.form-cite-column{
  align-items: flex-start !important;
}

// 文本背景
.textarea-bg{
  background-color: #fafafa;
  width: 88%;
  margin: 0.4rem;
  flex-wrap: wrap;
  padding: 0.2rem !important;
  margin-bottom: 0.1rem;
}

// 重写 卡片列表页 样式
.fields-item .form-wrap, .fieldlist-item .form-wrap{
  padding: 0;
}
