// 引用图片缩略图样式
.cite-img-content{
  display: flex;
  flex-wrap: wrap;
  .img-thumb-item{
    width: 29%;
    height: 2rem;
    padding: 2%;
    overflow: hidden;
    >img{
      width: 100%;
    }
  }
}

// 引用音频
.cite-audio-content{
  .aplayer{
    width: 100%;
  }
}
