.seeVideoCustom {
  overflow:hidden;
}
.video-player.video-player.vjs-custom-skin{
  margin-top:0 !important;
}

.video-player-common{
  position: relative;
  .video-js button{
    font-size: 0.13rem;
  }
  .delete-video{
    position: absolute;
    right: -2px;
    top: -2px;
    z-index: 999999;
  }
}
